@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
/* NAVBAR */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.main-header {
  background: rgb(34, 40, 44);
  width: 100%;
  padding: 8px 16px;
}

.main-header div {
  display: inline-block;
}
.main-header div a {
  font-size: 35px !important;
  margin-left: 9px;
}
.main-header span,
.main-header a {
  font-size: 20px;
  color: white;
}

.main-header span:hover,
.main-header a:hover {
  color: #fff;
  border-bottom: rgb(194, 11, 11) 3px solid;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 170px);
}
.main-nav ul {
  list-style: none;
}
.main nav ul li {
  display: inline-block;
}

.addressStyle {
  color: white;
  font-size: 18px;
}

.headerCard {
  height: 250px;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.302);
  top: 80px;
  border-radius: 10px !important;
}
#supply {
  background-color: rgb(247, 62, 62) !important;
}
#borrow {
  background-color: rgba(99, 192, 37, 0.993) !important;
}
#supply:hover {
  background-color: rgba(255, 4, 4, 0.938) !important;
}
#borrow:hover {
  background-color: rgba(80, 177, 15, 0.993) !important;
}

.headerInfo {
  text-align: center;
  padding: 40px;
  margin-top: 25px;
  background-color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  width: 250px;
}

.headerCard .anticon svg {
  height: 50px !important;
  width: 50px !important;
  margin-top: 80px;
  color: rgb(0, 0, 0);
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 70%;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.createGroupButton {
  float: right;
  padding: 5px;
  margin: 10px;
}
